<div class="event">
  <p class="title"><%= event.event_template.name %></p>

  <p class="subtitle">Helyszín</p>
  <p><%= event.event_template.place.city %></p>
  <p><%= event.event_template.place.street %></p>
  <%= link_to "Google Maps", event.event_template.place.link, :target => "_blank" %>

  <div class="admin">
    <p class="subtitle">Admin</p>
    <p>
      <%= link_to event.event_template.name, event_template_path(event.event_template_id) %> -
      <%= link_to event.project.name, project_path(event.project_id) %>
    </p>
    <%= link_to "Edit this event", edit_event_path(@event) %> |
    <%= link_to "Back to events", events_path %>

    <%= button_to "Destroy this event", @event, method: :delete %>
  </div>
</div>

