<div class="parent">
  <div id="<%= dom_id parent %>">
    <p>
      <strong>F name:</strong>
      <%= parent.f_name %>
    </p>

    <p>
      <strong>L name:</strong>
      <%= parent.l_name %>
    </p>

    <p>
      <strong>Tel:</strong>
      <%= parent.tel %>
    </p>

  </div>
  <p>
    <%= link_to "Show this parent", parent %>
  </p>
</div>